<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Giddy Apple Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Giddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GiddyKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Notification - Giddy Apple Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ToDoDataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ToDoKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A1A5D701CDA24E8004FD9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1EE3E31CD8AF19002B0ED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A22A5181CD8088100C48560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A22A5301CD8A11600C48560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3DC0341C9E0C15009AB92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3DC0551C9F1F66009AB92A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A5636C81CDA22AB005D5B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
